Always run `make validate` before completing any task where code is changed (skip if no code is changed)
- if errors are present, fix them before completing the task
- run `make validate` again to make sure errors are fixed
